.contentConverter {
    clear: both;
    background-color: #D6D6D6;
    float: left;
}

.imgButton {
    height: 15px;
    width: 20px;
    float: left;
}

#selectFromValue, #selectToValue {
    float: left;
}

.buttonToConvert {
    background-color: #0d6efd;
    border: 0px;
    color: white;
    border-radius: 20px;
    padding: 5%;
    padding-left: 15%;
    padding-right: 15%;
}

.amountValue, .fromCurrency, .sectionWithImg, .toCurrency {
    text-align: left;
    float: left;
    background-color: #D6D6D6;
    padding: 1%;
    padding-top: 5%;
    padding-bottom: 2%;
    height: 5vH;
}

.sectionWithImg {
    width: 20px;;
}

.amountValue {
    padding-left: 13%;
}

.resultView {
    background-color: #D6D6D6;
    clear: both;
    text-align: center;
    width: auto;
    margin-left: 10%;
}

#exchangeRate {
    padding: 1%;
}

.box {
    background-color: #D6D6D6;
    margin-left: 15%;
    margin-right: 15%;
}
