<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Praktyki - Michał</title>
    </head>
    <body>
        <div class="navBar">
            <table class="navLinki">
                <tr>
                  <td><a routerLink="/kalkulator-bmi">Kalkulator BMI</a></td>
                  <td><a routerLink="/kalkulator-walut">Konwerter walut</a></td>
                </tr>
            </table>
          </div>
          <div class="main" id="contentMain">
              <div class="content">
                  <router-outlet></router-outlet>
              </div>
          </div>
          <div class="footer">
              <b>@2022 Michał Kuś</b>
          </div>
      </body>
  </html>